<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDV 0.1 Prototipo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container card" style="margin-top: 50px; padding: 30px">
    <div class="row justify-content-center container">
        <div class="content">
        <a href="/kraken"><button>Kraken 1 - 2</button></a>
        <a href="/clark"><button>Clark</button></a>
        <a href="/metamaps"><button>Metamaps</button></a>


        </div>
</div>
</div>
</body>
</html>